.Header {
  padding: 10px 0 40px 0;
  color: var(--color-primary);
  background-color: var(--color-background-secondary);
  margin-bottom: 20px;
  border-bottom: 3px solid var(--color-secondary);
  box-shadow: 0 0 10px black;
  .title {
    letter-spacing: 1.5px;
    font-size: 2rem;
    padding-bottom: 10px;
    font-weight: bold;
    text-shadow: 3px 3px var(--color-secondary);
  }
}
